.main_div{
  width: 100%;
  margin: 5px 0 1rem;
}

.add-comment{
  width: 100%;
  margin-bottom: 10px;
  padding: 8px 0 8px 16px;
}


.inputText{
  width: 75%;
  margin-right: 15px;
  border: none;
  border-bottom: 1px solid black;
  background: none;
  padding: 8px 16px;
  font-size: 16px
}

.comment{
  border: none;
  outline: none;
  background: inherit;
  font-size: 16px;
  background-color: dimgray;
  padding: 8px 16px;
  color: honeydew;
  font-weight: 500;
  cursor: pointer;
}


ol{
  width: 100%;
  list-style: none;
}


.todolist_style{
  width: 100%;
  margin-bottom: 8px;
  padding: 5px;
  position: relative;
}

.todolist_style .comment-icon{
  margin-right: 10px;
  color: cornflowerblue;
}

.todolist_style span{
  word-wrap: break-word;
}


.delete{
  font-size: 18px;
  position: absolute;
  right: 5px;
  color: rgb(224, 15, 15);
  margin-left: 15px;
}